* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}

.wrapper {
  width: 80%;
  margin: 10px auto 0 auto;
}

h1 {
  margin: 10px 0px;
}

p {
  margin: 10px 0px;
}

.rejection-form {
  width: 40%;
  margin-top: 20px;
  margin-right: 10px;
  float: left;
}

.question-input {
  width: 300px;
  height: 25px;
  border: 1px solid #666;
  padding: 5px;
  border-radius: 5px;
}

.accepted-button, .rejected-button {
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 5px;
  background: #0e701a;
  color: #fff;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
}

.rejected-button {
  margin-left: 5px;
  background: #9f0f17;
}

.accepted-button:hover, .rejected-button:hover {
  cursor: pointer;
}

.about {
  width: 55%;
  float: left;
  margin-top: 20px;
}

.clear{
  clear: both;
}

.results li {
  list-style: none;
  border-bottom: 1px solid #888;
  padding: 8px 6px;
}

.result {
  color: #fff;
  padding: 4px;
}

.result.rejected {
  background: #6b0934;
  
}

.result.accepted {
  background: #006113;
}

span.whom {
  font-weight: bold;
}

span.what {
  font-style: italic;
}

span.whom::after {
  content: ': ';
}


span.what::after {
  content: ' - ';
}

span.date {
  margin-left: 20px;
  font-style: italic;
}

span.date::after {
  content: ')';
}

span.date::before {
  content: '(';
}

.overall-score {
  width: 40px;
  height: 40px;
  border: 1px solid #8a0885;
  border-radius: 50%;
  background: #8a0885;
  color: #fff;
  padding: 10px;
}

.score {
  margin: 25px 0px;
}

.score-span {
  font-weight: bold;
  padding-right: 20px;
}

.delete {
  margin-left: 50px;
  background: #af001c;
  border: 1px solid #333;
  color: #fff;
  padding: 3px;
  float: right;
}

.delete:hover {
  cursor: pointer;
}